<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Create Category</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Create Category</h1>
  <hr>
  <h2>Save Category</h2>
  <form action="#" th:action="@{/admin/category/saveCategory}" th:object="${category}"
        method="POST">
      <h6>Category Name</h6>
    <input type="text" th:field="*{name}"
           class="form-control mb-4 col-4">
      <h6>Category Description</h6>
    <input type="text" th:field="*{description}"
           class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Save Category</button>
  </form>
  <hr>
  <a th:href = "@{/admin/category}"> Back to Categories List</a>
</div>
</body>
</html>